<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About The Finch Collector</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>About the Finch Collector!</h1>
    <p> The Fintch Collector knows everything about the Finch family. Hire the Finch Collector to learn more about the different types of Finches! </p>
    {% endblock %}
    <footer>All Rights Reserved, &copy; 2022 Finch Collector</footer>
</body>
</html>
